{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="conteneur-personnalise">
    <div class="row">
        <div class="col-md-6">
            <div class="card1">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-file-earmark-slides"></i> Présentation de moi</h5>
                    <p class="card-text card-text-align">moi</p>
                    <a href="/moi" class="card-link card-link-align">En voir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card1">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-person-square"></i>HardSkylls</h5>
                    <p class="card-text card-text-align">HardSkylls</p>
                    <a href="/hard/skills" class="card-link card-link-align">En voir plus</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card1">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-person-vcard"></i>Softskylls</h5>
                    <p class="card-text card-text-align">Softskylls</p>
                    <a href="/soft/skills" class="card-link card-link-align">En voir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card1">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-envelope"></i>Liens github</h5>
                    <p class="card-text card-text-align">Liens github</p>
                    <a href="/lien" class="card-link card-link-align">En voir plus</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card1">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-envelope"></i>projet déjà réalisés</h5>
                    <p class="card-text card-text-align">projet déjà réalisés</p>
                    <a href="/projet" class="card-link card-link-align">En voir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card1">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-envelope"></i>mon expérience</h5>
                    <p class="card-text card-text-align">mon expérience</p>
                    <a href="/experience" class="card-link card-link-align">En voir plus</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}